/* RESET CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BARRA DE NAVEGAÇÃO */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #75a1a1; /* Cor de fundo da navbar */
    padding: 0% 8%;
}

.logo img{
    width: 100px;
    height: auto;
    vertical-align: middle; /* Centraliza verticalmente a imagem */
}

.links {
    flex: 1; /* Ocupa o espaço disponível */
    display: flex;
    justify-content: center; /* Alinha os itens à direita */
}

.links a {
    color: white;
    text-decoration: none;
    margin: 20px 20px 20px 20px; /* Espaçamento entre os links */
    font-size: 20px;

}

.links a:hover {
    text-decoration: underline; /* Efeito de sublinhado ao passar o mouse */
}

.foto-perfil {
    margin: 0px 20px 0px; /* Espaçamento entre o chat, foto de perfil e button login */
}

.foto-perfil img {
    width: 70px; /* Tamanho da imagem do perfil */
    height: auto;
    border-radius: 50%; /* Borda arredondada para criar o efeito de foto de perfil */
}

.icon-chats img{
    width: 70px; /* Tamanho da imagem do perfil */
    height: auto;
    border-radius: 50%; /* Borda arredondada para criar o efeito de foto de perfil */
}

.b-login button{
    width: 80px;
    height: 40px;
    border-radius: 20px; 
    background-color: white;
}

.b-login button a{
    text-decoration: none;
    color: #75a1a1;
}

*LOGIN* 

.wrapper .input-box {
    width: 100%;
    height: 50px;
    margin: 70px ;
}

.input-box input {
    width: 100%;
    height: 50px;
    background: #429a9a;
    border: 2px solid rgba(0, 0, 0, 0.471);
    border-radius: 10px;
    font-size: 17px;
    color: black;
    padding: 20px 45px 20px 20px;
    margin-left: 33px;
}

.input-box input::placeholder {
    color: black;
}

button{
    height:20px; 
    width:100px; 
    margin: -20px -50px; 
    position:relative;
    top:50%; 
    left:50%;
}

main {
    background-image: url(../IMG/IMGjpgCADASTRO1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
    flex: 1 1 0;
}

h2 {
    width: 115%;
    text-align:center;
}

/* FOOTER*/

footer{
    background-color: #75a1a1; /* Cor de fundo igual à da barra de navegação */
    color: white; /* Cor do texto */
    padding: 15px; /* Espaçamento interno */
    display: flex;
    justify-content: space-between; /* Alinha os itens à esquerda, no meio e à direita */
}

.footer-content{
    max-width: 1200px; /* Largura máxima do conteúdo do footer */
    margin: 0 auto; /* Centraliza o conteúdo na página */
    display: flex;
    align-items: center; /* Centraliza verticalmente os itens */
}

.linksFooter ul{
    list-style-type: none; /* Remove marcadores de lista */
    padding: 0;
    margin: 0;
}

.linksFooter ul li{
    display: block; /* Exibe os itens da lista em linha */
    margin-right: 200px; /* Espaçamento entre os itens */
}

.linksFooter ul li a{
    color: white; /* Cor dos links */
    text-decoration: none; /* Remove sublinhado dos links */
}

.linksFooter ul li a:hover{
    text-decoration: underline;
}

.p-Footer{
    flex: 1; /* Ocupa o espaço disponível restante */
    text-align: center; /* Alinha o texto ao centro */
}

.logoFooter{
    margin-left: 200px; /* Empurra a logo para a direita */
}

.logoFooter img{
    width: 100px; /* Tamanho da imagem da logo */
    height: auto; /* Altura automática para manter a proporção */
}
