/* RESET CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BARRA DE NAVEGAÇÃO */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #75a1a1; /* Cor de fundo da navbar */
    padding: 0% 8%;
}

.logo img{
    width: 100px;
    height: auto;
    vertical-align: middle; /* Centraliza verticalmente a imagem */
}

.links {
    flex: 1; /* Ocupa o espaço disponível */
    display: flex;
    justify-content: center; /* Alinha os itens à direita */
}

.links a {
    color: white;
    text-decoration: none;
    margin: 20px 20px 20px 20px; /* Espaçamento entre os links */
    font-size: 20px;

}

.links a:hover {
    text-decoration: underline; /* Efeito de sublinhado ao passar o mouse */
}

.foto-perfil {
    margin: 0px 20px 0px; /* Espaçamento entre o chat, foto de perfil e button login */
}

.foto-perfil img {
    width: 70px; /* Tamanho da imagem do perfil */
    height: auto;
    border-radius: 50%; /* Borda arredondada para criar o efeito de foto de perfil */
}

.icon-chats img{
    width: 70px; /* Tamanho da imagem do perfil */
    height: auto;
    border-radius: 50%; /* Borda arredondada para criar o efeito de foto de perfil */
}

.b-login button{
    width: 80px;
    height: 40px;
    border-radius: 20px; 
    background-color: white;
}

.b-login button a{
    text-decoration: none;
    color: #75a1a1;
}

.wrapper {
    
    background-color: rgba(78, 78, 78, 0.068);
    border: px solid rgb(247, 246, 246);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px #2ec8d0;
    color: #ffffff;
    height: 33.5rem;
    width: 100rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 19px;
    
}

.wrapper h2 {
    font-size: 36px;
    text-align: center;
    color: black;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 15px;

}

.wrapper .input-box {
    width: 100%;
    height: 30px;
    margin: 20px ;
}

.input-box input {
    width: 87%;
    height: 49px;
    background: transparent;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    font-size: 17px;
    color: black;
    padding: 20px 45px 20px 20px;
    margin-left: 23px;
}

.input-box input::placeholder {
    color: black;
}

.wrapper p a {
    background-color: #ffffff;
    color: #000;
    text-decoration: none;
    border-radius: 10px;
    padding: 0.3rem 0.7rem;
    font-weight: 550;
    border-color: #000;
}

.wrapper p {
    color: black;
    text-align: center;
    font-weight: 550;
}
.wrapper img {
    padding-top: 10px;
    margin-left: 7%;
    width: 25%;
    margin-top: 7px;
    
}

.btn {
    background-color: #164c51;
    text-align: center;
    width: 50%;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 45px;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 18px;
    font-weight: 800;
}

header {
    display: flex;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    align-items: center;
    padding: 1rem 0;
    justify-content: space-between;


}

h1 {
    text-align: center;
    border-radius: 20px;
    background-color: #fff;
    color: #000;
    width: 50%;
    margin: 0 auto;
    font-weight: 400;
}

footer {
    display: flex;
    background-color: #D9D9D9;
    justify-content: space-between;
    padding: 30px;
    
    flex: 1 1 100vw;
    align-items: center;
    font-size: 15px;
    height: 100px;
}

p div footer {
    font-size: 16px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    width: 350px;
    border-top: 3px solid #000;
    border-bottom: 3px solid #000;
}
@media (max-width: 1000px) {
    header h1 {
        width: 75%;
    }
}

@media (max-width: 768px) {
    footer {
        display: grid;
        gap: 15px;
        justify-content: center;
        text-align: center;
    }
}

@media (max-width: 600px) {
    .wrapper {
        width: 25rem;
    }

    header h1 {
        width: 90%;
    }
}
@media (max-width: 450px) {
    #login-link {
        align-self: center;
    }

    .wrapper {
        width: 20rem;
        height: 35rem;
        padding: 3rem;
    }

    .wrapper img {
        display: none;
    }

    form {
        width: 220px;
    }

    form input {
        width: 200px;
    }
}

/* FOOTER*/

footer{
    background-color: #75a1a1; /* Cor de fundo igual à da barra de navegação */
    color: white; /* Cor do texto */
    padding: 15px; /* Espaçamento interno */
    display: flex;
    justify-content: space-between; /* Alinha os itens à esquerda, no meio e à direita */
}

.footer-content{
    max-width: 1200px; /* Largura máxima do conteúdo do footer */
    margin: 0 auto; /* Centraliza o conteúdo na página */
    display: flex;
    align-items: center; /* Centraliza verticalmente os itens */
}

.linksFooter ul{
    list-style-type: none; /* Remove marcadores de lista */
    padding: 0;
    margin: 0;
}

.linksFooter ul li{
    display: block; /* Exibe os itens da lista em linha */
    margin-right: 200px; /* Espaçamento entre os itens */
}

.linksFooter ul li a{
    color: white; /* Cor dos links */
    text-decoration: none; /* Remove sublinhado dos links */
}

.linksFooter ul li a:hover{
    text-decoration: underline;
}

.p-Footer{
    flex: 1; /* Ocupa o espaço disponível restante */
    text-align: center; /* Alinha o texto ao centro */
}

.logoFooter{
    margin-left: 200px; /* Empurra a logo para a direita */
}

.logoFooter img{
    width: 100px; /* Tamanho da imagem da logo */
    height: auto; /* Altura automática para manter a proporção */
}

#nomeError, #passwordError {
    color: red;
    margin-bottom: 10%;
    padding-bottom: 10%;
}


#nomeError::after {
    content: "Este campo não pode conter números ou caracteres especiais, e, deve ser igual ou maior que 3 caracteres!";
    position: absolute;
    background-color: #f44336;
    color: white;
    padding: 5px;
    border-radius: 3px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;
}

#nomeError:hover::after {
    opacity: 1;
    visibility: visible;
}